.title{
    text-align:center;
    padding:24px;
}

.employees{
    max-width:1024px;
}

.employeesmobile {
    width:150px;
    margin: 8px auto;
}

.employeeaddress{
    line-height:18px;
}

@media screen and (max-width: 767px) {
    .title{
        padding:12px;
    }
}

[v-cloak]{
    display: none;
}